COMPOSE_PROJECT_NAME=iot_smart_classroom_center
MQTT_BROKER=localhost
PYTHONUNBUFFERED=1
WEATHER_CITY=Torino

TELEGRAM_TOKEN=your_telegram_bot_token_here
OPENWEATHER_API_KEY=your_openweather_api_key_here

DEFAULT_AC_PRECOOL_TEMP=21

MANUAL_HOLD_THRESHOLD=60

EFFICIENCY_SENSITIVITY=10.0